<div class="col-xs-12" style="margin-left: 20px; margin-right: 20px">
    <h2 style="margin-bottom: 18px; margin-top: 8px">ข้อมูลธุรกิจ</h2>
    <div class="table-responsive" style="margin-right: 20px">
        <table class="table">
        <tbody>
            <tr>
                <th style="width:20%">ปริมาณสัตว์เลี้ยง (ตัว)</th>
                <td>{{ detail.business_detail_pet_quantity || '-' }} </td>
            </tr>
            <tr ng-if="detail.business_detail_pet_file">
                <th style="width:20%; padding-left: 40px">เอกสารแนบ</th>
                <td><a  href="{{ '/static/files/'+detail.business_detail_pet_file }}" target="_blank">Link</a></td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type1_selected">
                <th style="width:20%; padding-left: 40px">สุกรขุน</th>
                <td>{{ detail.business_detail_pet_type1_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type2_selected">
                <th style="width:20%; padding-left: 40px">สุกรพันธุ์</th>
                <td>{{ detail.business_detail_pet_type2_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type3_selected">
                <th style="width:20%; padding-left: 40px">ไก่ไข่</th>
                <td>{{ detail.business_detail_pet_type3_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type4_selected">
                <th style="width:20%; padding-left: 40px">ไก่รุ่น</th>
                <td>{{ detail.business_detail_pet_type4_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type5_selected">
                <th style="width:20%; padding-left: 40px">ไก่เนื้อ</th>
                <td>{{ detail.business_detail_pet_type5_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_type6_selected">
                <th style="width:20%; padding-left: 40px">เป็ดไข่</th>
                <td>{{ detail.business_detail_pet_type6_amount || '0' }} ตัว</td>
            </tr>
            <tr ng-if="detail.business_detail_pet_other_selected">
                <th style="width:20%; padding-left: 40px">อื่นๆ</th>
                <td>{{ detail.business_detail_pet_other_detail + ' ' + (detail.business_detail_pet_other_amount || '0') }} ตัว</td>
            </tr>
           



            <tr>
                <th style="width:20%">ประสิทธิภาพการเลี้ยง</th>
                <td></td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 40px">* สุกรขุน</th>
                <td></td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- FCR (%)</th>
                <td>{{ detail.business_detail_type1_fcr || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- ADG (%)</th>
                <td>{{ detail.business_detail_type1_adg || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการตาย (%)</th>
                <td>{{ detail.business_detail_type1_die_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการป่วย (%)</th>
                <td>{{ detail.business_detail_type1_sick_rate || '0' }} </td>
            </tr>

            <tr>
                <th style="width:20%; padding-left: 40px">* สุกรพันธุ์</th>
                <td></td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการให้ลูก/แม่ ต่อป๊</th>
                <td>{{ detail.business_detail_type2_born_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการตาย (%)</th>
                <td>{{ detail.business_detail_type2_die_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการป่วย (%)</th>
                <td>{{ detail.business_detail_type2_sick_rate || '0' }} </td>
            </tr>
           
            <tr>
                <th style="width:20%; padding-left: 40px">* ไก่ไข่/เป็ดไข่</th>
                <td></td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการให้ไข่ (%)</th>
                <td>{{ detail.business_detail_type3_egg_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการตาย (%)</th>
                <td>{{ detail.business_detail_type3_die_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการป่วย (%)</th>
                <td>{{ detail.business_detail_type3_sick_rate || '0' }} </td>
            </tr>

            <tr>
                <th style="width:20%; padding-left: 40px">* ไก่เนื้อ</th>
                <td></td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- FCR (%)</th>
                <td>{{ detail.business_detail_type4_fcr || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการตาย (%)</th>
                <td>{{ detail.business_detail_type4_die_rate || '0' }} </td>
            </tr>
            <tr>
                <th style="width:20%; padding-left: 55px">- อัตราการป่วย (%)</th>
                <td>{{ detail.business_detail_type4_sick_rate || '0' }} </td>
            </tr>





            <tr>
                <th>อัตราการใช้ผลิตภัณฑ์ CPF (%)</th>
                <td>{{ message_with_percent(detail.business_detail_cpf_product_usage_rate) || '-' }}</td>
            </tr>
            <tr>
                <th>อัตราการใช้ผลิตภัณฑ์อื่นๆ (%)</th>
                <td>{{ message_with_percent(detail.business_detail_other_product_usage_rate) || '-' }}</td>
            </tr>
            <tr>
                <th>ช่องทางจำหน่ายที่อื่น</th>
                <td>{{ detail.business_detail_sales_chanels_for_other || '-' }}</td>
            </tr>
            <tr>
                <th>ช่องทางจำหน่ายให้กับ CPF</th>
                <td>{{ detail.business_detail_sales_chanels_for_cpf || '-' }}</td>
            </tr>
            <tr>
                <th>จำนวนคนงาน</th>
                <td>{{ detail.business_detail_number_of_workers || '-' }}</td>
            </tr>
            <tr>
                <th>คู่แข่งขัน</th>
                <td>{{ detail.business_detail_competitor || '-' }}</td>
            </tr>
            <tr>
                <th>สภาวะตลาดและการแก้ไข</th>
                <td>{{ detail.business_detail_market_condition_and_solutions || '-' }}</td>
            </tr>
            <tr ng-if="detail.business_detail_file">
                <th>ดาวน์โหลดไฟล์  (Lay out)</th>
                <td><a href="{{ '/static/files/'+detail.business_detail_file }}" target="_blank">Link</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <p></p>
</div>