<div ng-if="step == 1" id="step-1">
    <form class="form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer-id">รหัสลูกค้า <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="customer-id" required="required" ng-model="detail.business_id" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer-name">ชื่อธุรกิจ <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="customer-name" name="customer-name" ng-model="detail.business_name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">ที่อยู่</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea style="overflow-x: hidden; margin-bottom: 10px" id="address" class="form-control col-md-7 col-xs-12" ng-model="detail.business_address" type="text" name="address" rows="5" ></textarea>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">ประเภทธุรกิจ</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="customer-type" class="btn-group">
                    <label class="btn btn-default" data-toggle-class="btn-primary" style="padding-left: 0px" ng-class="{ 'btn-primary': detail.business_type == 'นิติบุคคล'}"data-toggle-passive-class="btn-default">
                        <input type="radio" data-ng-model="detail.business_type" style="visibility: hidden" name="customer-type" value="นิติบุคคล"> &nbsp; นิติบุคคล &nbsp;
                    </label>
                    <label class="btn btn-default" data-toggle-class="btn-primary" style="padding-left: 0px" ng-class="{ 'btn-primary': detail.business_type == 'บุคคลธรรมดา'}" data-toggle-passive-class="btn-default">
                        <input type="radio" data-ng-model="detail.business_type" style="visibility: hidden" name="customer-type" value="บุคคลธรรมดา"> บุคคลธรรมดา
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="grade-type" class="btn-group">
                    <label class="btn btn-default" ng-class="{ 'btn-primary': detail.business_grade == 'bronze'}" style="padding-left: 0px" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" data-ng-model="detail.business_grade" style="visibility: hidden" name="grade-type" value="bronze"> &nbsp; Bronze &nbsp;
                    </label>
                    <label class="btn btn-default" ng-class="{ 'btn-primary': detail.business_grade == 'silver'}" style="padding-left: 0px" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" data-ng-model="detail.business_grade" style="visibility: hidden" name="grade-type" value="silver"> Silver
                    </label>
                    <label class="btn btn-default" ng-class="{ 'btn-primary': detail.business_grade == 'gold'}" style="padding-left: 0px" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" data-ng-model="detail.business_grade" style="visibility: hidden" name="grade-type" value="gold"> Gold
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">เบอร์โทรศัพท์ <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="phone" class="form-control col-md-7 col-xs-12" ng-model="detail.business_telephone" required="required" type="text">
            </div>
        </div>
    </form>
</div>