<!-- page content -->
<div class="">
    <div class="page-title">
    <div class="title_left">
        <h3>ข้อมูลลูกค้าทั้งหมด</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        </div>
    </div>
    </div>
    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>คัดกรอง<small>คัดกรองรายการลูกค้าตามตัวแปรต่างๆ</small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">ค้นหาจากข้อความ</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" ng-model="query">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">ประเภทธุรกิจ</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control" ng-model="business_type">
                                            <option value="">เลือก</option>
                                            <option value="นิติบุคคล">นิติบุคคล</option>
                                            <option value="บุคคลธรรมดา">บุคคลธรรมดา</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="form-control" ng-model="business_grade">
                                            <option value="">เลือก</option>
                                            <option value="gold">Gold</option>
                                            <option value="silver">Silver</option>
                                            <option value="bronze">Bronze</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">จำนวนสัตว์ที่เลี้ยง</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12" style="display: flex">
                                        <input type="text" class="form-control" placeholder="ขั้นต่ำ" ng-model="amount_of_pets_min">
                                        <span style="margin: 10px;"> - </span>
                                        <input type="text" class="form-control" placeholder="สูงสุด" ng-model="amount_of_pets_max">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-xs-12">
                            <button class="btn btn-primary pull-right" ng-click="on_search()"><i class="fa fa-search"></i> ค้นหา</button>
                            <button class="btn btn-warning pull-right" ng-click="init_query()" style="margin-right: 5px;"><i class="fa fa-close"></i> รีเซ็ต</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>ผลลัพธ์<small>รายการลูกค้าทั้งหมดตามการคัดกรอง</small></h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>รหัสลูกค้า</th>
                      <th>ชื่อธุรกิจ</th>
                      <th>Grade</th>
                      <th>ประเภทธุรกิจ</th>
                      <th>เบอร์โทรศัพท์</th>
                      <th>ชื่อผู้บริหาร</th>
                      <th>จำนวนสัตว์ที่เลี้ยง</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
    </div>
</div>
  <!-- /page content -->