<div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>User Profile</h3>
          </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>รายละเอียด <small></small></h2>
               
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left" style="text-align: center; margin-top: 20px;">

                  <div class="profile_img">

                    <!-- end of image cropping -->
                    <div id="crop-avatar">
                      <!-- Current avatar -->
                      <div class="avatar-view" title="Change the avatar" style="margin: 0 auto">
                        <img src="/static/images/user.png" alt="Avatar">
                      </div>

                      <!-- Cropping modal -->
                      <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                              <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                              </div>
                              <div class="modal-body">
                                <div class="avatar-body">

                                  <!-- Upload image and data -->
                                  <div class="avatar-upload">
                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                    <label for="avatarInput">Local upload</label>
                                    <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                  </div>

                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- /.modal -->

                      <!-- Loading state -->
                      <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                    </div>
                    <!-- end of image cropping -->

                  </div>
                  <!-- profile detail -->
                  <div ng-if="is_edited">
                      <h3>{{ account.account_first_name + ' ' + account.account_last_name }}</h3>
                      
                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-calendar" style="margin-right: 5px"></i> อัพเดทเมื่อวันที่ {{ account.account_updated }}
                        </li>
                      </ul>
                  </div>
                  <!-- end of profile detail -->
                  <a style="margin: 28px;" class="btn btn-success"><i class="fa fa-edit m-right-xs" style="margin-right: 5px"></i>เปลี่ยนรูปโปรไฟล์</a>
                  <br />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">

                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a  id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">รายละเอียด</a>
                      </li>
                      <li ng-if="is_edited" role="presentation" class=""><a  role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">ลูกค้าที่ได้รับมอบหมาย</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">   
                        <div class="x_content">
                            <small ng-if="is_edited">* ถ้าหากไม่ต้องการเปลี่ยน password ไม่ต้องทำการกรอกในช่อง password </small>
                            <form class="form-horizontal form-label-left input_mask">
        
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="ชื่อ" ng-model="account.account_first_name">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                              </div>
          
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control" id="inputSuccess3" placeholder="นามสกุล" ng-model="account.account_last_name">
                                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
          
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control has-feedback-left"  placeholder="อีเมล์" ng-model="account.account_email">
                                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                              </div>
          
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control" id="inputSuccess5" placeholder="เบอร์โทรศัพท์" ng-model="account.account_phone">
                                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                              </div>
                              
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="password" class="form-control has-feedback-left"  placeholder="Password" ng-model="account.account_password">
                                  <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                              </div>
                              
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <select class="form-control has-feedback-left" ng-model="account.account_position">
                                      <option value="">ตำแหน่ง</option>
                                      <option value="ฝ่ายขาย">ฝ่ายขาย</option>
                                      <option value="admin">Admin</option>
                                  </select>
                                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                              </div>

                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="password" class="form-control has-feedback-left"  placeholder="Confirm Password" ng-model="account.account_confirm_password">
                                  <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                              </div>
                              <div class="ln_solid"></div>
                              
                              <div class="form-group" style="text-align: right" >
                                  
                                  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 23px">
                                      <hr />
                                    <p style="color: red">{{ error }}</p>
                                    <a href="/#!/user" type="submit" class="btn btn-primary">ยกเลิก</a>
                                    <button ng-if="!is_edited" type="submit" class="btn btn-success" ng-click="on_create()">สร้าง</button>
                                    <button ng-if="is_edited" type="submit" class="btn btn-success" ng-click="on_edit()">เเก้ไข</button>
                                  </div>
                              </div>
                            </form>
                        </div>

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                        <!-- start user projects -->
                        <table class="data table table-striped no-margin">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Project Name</th>
                              <th>Client Company</th>
                              <th class="hidden-phone">Hours Spent</th>
                              <th>Contribution</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>New Company Takeover Review</td>
                              <td>Deveint Inc</td>
                              <td class="hidden-phone">18</td>
                              <td class="vertical-align-mid">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>New Partner Contracts Consultanci</td>
                              <td>Deveint Inc</td>
                              <td class="hidden-phone">13</td>
                              <td class="vertical-align-mid">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Partners and Inverstors report</td>
                              <td>Deveint Inc</td>
                              <td class="hidden-phone">30</td>
                              <td class="vertical-align-mid">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>New Company Takeover Review</td>
                              <td>Deveint Inc</td>
                              <td class="hidden-phone">28</td>
                              <td class="vertical-align-mid">
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!-- end user projects -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>กลุ่มลูกค้า <small>สามารถกดปุ่ม ctrl หรือ shift เพื่อทำการเลือกหลายกลุ่ม</small></h2>
                 
                  <div class="clearfix"></div>
                </div>
                
                <div class="x_content" style="display: flex">
                    <div style="flex: 1; padding: 15px">
                        <div class="panel panel-default">
                          <div class="panel-heading">Available Group</div>
                          <div class="panel-body" style="height: 300px; overflow-y: scroll; padding: 0">
                              <ul class="list-group">
                                  <li class="list-group-item" style="cursor: pointer" 
                                    ng-class="{ selected : is_in_selected_available_group(group.business_id)}" 
                                    ng-click="on_click_group_in_available_group($event, group.business_id )" 
                                    ng-repeat="group in available_group track by $index"
                                    ng-if="is_not_in_chosen_group(group.business_id)"
                                  >
                                      <div style="width: 35%">
                                          <strong>{{ group.business_id }}</strong>
                                      </div>
                                      <span> {{  group.business_name }}</span>
                                  </li>
                                </ul>
                          </div>
                        </div>
                        <div style="text-align: center">
                            <button class="btn" style="background-color:transparent" ng-click="on_select_all_available_group()" ><i class="fa fa-check-circle" style="font-size: 25px"></i> <span>เลือกทั้งหมด</span></button>
                        </div>
                    </div>
                    <div style="flex-direction: column; display: flex; justify-content: center;">
                        <button class="btn" style="background-color:transparent" ng-click="on_click_add()" ><i class="fa fa-chevron-circle-right" style="font-size: 25px"></i> </button>
                        <button class="btn" style="background-color:transparent" ng-click="on_click_remove()" ><i class="fa fa-chevron-circle-left" style="font-size: 25px"></i> </button>
                    </div>
                    <div style="flex: 1; padding: 15px">
                        <div class="panel panel-default">
                            <div class="panel-heading">Chosen Group</div>
                            <div class="panel-body" style="height: 300px; overflow-y: scroll; padding: 0">
                                <ul class="list-group">
                                    <li class="list-group-item" style="cursor: pointer" 
                                      ng-class="{ selected : is_in_selected_chosen_group(group.business_id)}"  
                                      ng-repeat="group in chosen_group track by $index" 
                                      ng-click="on_click_group_in_chosen_group($event, group.business_id )" 
                                    >
                                        <div style="width: 35%">
                                            <strong>{{ group.business_id }}</strong>
                                        </div>
                                        <span> {{  group.business_name }}</span>
                                    </li>
                                </ul>
                            </div>
                          </div>
                          <div style="text-align: center">
                              <button class="btn" style="background-color:transparent" ng-click="on_select_all_chosen_group()"><i class="fa fa-times-circle" style="font-size: 25px"></i> <span>ลบทั้งหมด</span></button>
                          </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>